.frecipes {
  padding: 2em 0;
}

.frecipes .section-title h2 {
  font-weight: 600;
  font-size: 55px;
  text-transform: capitalize;
}

.frecipes .section-title p {
  font-weight: 600;
  font-size: 24px;
  margin-top: 1em;
}

.frecipe-cards {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 2em;
  padding: 2em 0;
}

.frecipe-cards .card {
  position: relative;
  background: var(--secondary-color);
  padding: 1em;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.frecipe-cards .card img {
  object-fit: cover;
  width: 100%;
  border-radius: 17px;
}

.frecipe-cards .card h5 {
  font-weight: 700;
  font-size: 24px;
  padding-top: 0.5em;
}

.frecipe-cards .card .recipeinfo {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 1em;
  margin-top: 1em;
}

.frecipe-cards .card .recipeinfo div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5em;
}
.frecipe-cards .card .recipeinfo p {
  margin-top: 0.3em;
  font-weight: 700;
}

.frecipe-cards .card .recipeinfo img {
  width: 24px;
  height: 24px;
}

.card .like {
  position: absolute;
  top: 4%;
  right: 7%;
  padding: 0.5em;
  box-shadow: 0px 5px 10px rgba(255, 99, 99, 0.2);
  cursor: pointer;
  border-radius: 50%;
  background: #fff;
  transition: 0.3s ease-in-out;
}

.card .like:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1560px) {
  .frecipes .section-title h2 {
    font-size: 55px;
    line-height: 60px;
  }

  .frecipes .section-title p {
    font-size: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .frecipes .section-title h2 {
    font-size: 45px;
    line-height: 50px;
  }

  .frecipes .section-title p {
    font-size: 16px;
  }
}

@media screen and (max-width: 1000px) {
  .frecipes .section-title h2 {
    font-size: 35px;
    line-height: 40px;
  }

  .frecipes .section-title p {
    font-size: 14px;
  }
}
